.form{
  width: 1000px;
  height: 500px;
  border: 2px solid #f2e5c2;
}

body
{
	font-size:18px;
}
.text
{
	color:white;
}
.title
{
	color:#1d7cbd;
	font-weight:600;
}
table
{
	border-collapse: collapse;
}
td
{
	border-bottom: 1px solid #efdfb4;
}
th
{
	border-bottom: 1px solid #efdfb4;
}