body
{
	font-family:Tahoma;
	font-size:20px;
}
.name
{
	font-size:30px;
	font-weight:600;
}
td
{
	border:1px solid black;
	border-bottom:2px solid black;
}
th
{
	border:1px solid black;
	border-top:2px solid black;
	border-bottom:2px solid black;
}
tr:nth-child(even) td:nth-child(even) 
{
	background:#AFEEEE;
}
tr:nth-child(even) td:nth-child(odd) 
{
	background:#AFEEEE;
}
tr:nth-child(odd) td:nth-child(even) 
{
	background:#FA8072;
}
tr:nth-child(odd) td:nth-child(odd) 
{
	background:#FA8072;
}
tr:nth-child(1)
{
	background:#EE82EE;
}
tr:nth-child(6) td:nth-child(1) 
{
	background:white;
	border-bottom:0px solid white;
	border-left:0px solid white;
}
tr:nth-child(6) td:nth-child(5) 
{
	background:white;
	border-bottom:0px solid white;
	border-right:0px solid white;
	border-left:0px solid white;
}
tr:nth-child(6) td:nth-child(4) 
{
	background:white;
	border-bottom:0px solid white;
	border-right:0px solid white;
}